/* GLOOBALS */
:root {
  --indigo: #2b192e;
  --cream: #f5e8da;
  --camel: #c19a6b;
  --rome: #65272c;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

button:hover {
  opacity: 0.8;
}

#open_cart_btn {
  border: 1px;
  background-color: transparent;
}

.sidecart {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 350px;
  background-color: rgb(43, 25, 46, 0.9);
  box-shadow: -10 0 15px var(--rome);
  color: var(--cream);
  transform: translateX(110%);
  transition: transform 0.5s ease-in-out;
}

.sidecart.open {
  transform: translateX(0);
}

.cart_content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Cart Header */
.cart_header {
  padding: 1rem;
  border-bottom: 1px solid var(--camel);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_title {
  position: relative;
}

.header_title small {
  position: absolute;
  top: -5px;
  right: -20px;
  width: 20px;
  height: 20px;
  background-color: #9d2c35;
  border-radius: 50%;
  color: #faf9f6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_header .close_btn {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  background: transparent;
  border: none;
  color: #f5e8da;
}

.cart_header .close_btn:hover {
  transform: scale(1.1);
}

/* Cart Items */
.cart_items {
  flex: 1;
  overflow-x: hidden;
}

.cart_item {
  position: relative;
  padding: 1rem;
  width: 100%;
  min-height: 150px;
  display: flex;
  border-bottom: 1px solid var(--camel);
}

.remove_item {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #9d2c35;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.remove_item i {
  color: var(--cream);
  font-size: 20px;
  user-select: none;
}

.item_img {
  flex: 1;
  padding-top: 1px;
}

.item_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item_details {
  flex: 2;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item_details p {
  color: var(--cream);
}

.item_details .qty {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.item_details .qty span {
  width: 30px;
  height: 30px;
  background-color: var(--cream);
  color: #9d2c35;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  box-shadow: 3px 3px 5px var(--rome), -px -1px 2px var(--rome);
  user-select: none;
  transition: scale 0.2s ease-in-out;
}

.item_details .qty span:hover {
  scale: 1.1;
}

.item_details .qty span:active {
  scale: 1;
}

.qty span {
  font-size: 2rem;
  padding-bottom: 5px;
}
/* Cart Actions */
.cart_actions {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid var(--camel);
  box-shadow: 0 -5px 10px var(--camel);
}

.cart_actions .subtotal {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
}

.cart_actions button {
  border: none;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.cart_actions button:nth-of-type(2) {
  background-color: var(--camel);
}
